<div class='flex-div'>
	<div ng-repeat="p in projects" ng-animate='animate' class="col-xs-10 col-sm-5 col-md-3 col-lg-2 project-tile fade">
		<div class="thumbnail">
			<img class="tile-thumbnail" src="../res/poly_stock.png">
		</div>
		<div>
			<p class='project-info project-title'>{{p.title}}</p>
			<div class="project-links">
				<a ng-show="p.githubUrl" ng-click="newTab(p.githubUrl)">Github</a>
				<span ng-show="p.githubUrl &amp;&amp; p.hostUrl">|</span>
				<a ng-show="p.hostUrl" ng-click="newTab(p.hostUrl)">Check it out</a>
			</div>
			<p class='project-info'>{{p.description}}</p>
		</div>
	</div>
</div>